asgiref==3.8.1
channels==4.2.0
channels_redis==4.2.1
cloudinary==1.41.0
dj-rest-auth==2.1.9
Django==4.2
django-cloudinary-storage==0.3.0
django-filter==24.3
djangorestframework==3.15.2
msgpack==1.1.0
pillow==11.0.0
pytz==2024.2
redis==4.6.0
setuptools==75.8.0
sqlparse==0.5.2
