asgiref==3.8.1
autobahn==24.4.2
Automat==24.8.1
channels==3.0.5
channels_redis==4.2.1
cloudinary==1.41.0
constantly==23.10.4
daphne==3.0.2
dj-database-url==0.5.0
dj-rest-auth==2.1.9
Django==3.2.25
django-allauth==0.54.0
django-cloudinary-storage==0.3.0
django-cors-headers==3.7.0
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
gunicorn==20.1.0
hyperlink==21.0.0
incremental==24.7.2
msgpack==1.1.0
oauthlib==3.2.2
pillow==11.0.0
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyJWT==2.10.1
pyOpenSSL==24.3.0
python3-openid==3.2.0
pytz==2024.2
redis==4.6.0
requests-oauthlib==2.0.0
service-identity==24.2.0
setuptools==75.8.0
sqlparse==0.5.2
Twisted==24.11.0
txaio==23.1.1
zope.interface==7.2
