.SearchBar input {
  border-radius: 20px;
  color: #034e25;
  padding-left: 40px;
  margin-bottom: 16px;
  border: 2px solid #034e25;
}
  
.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}
  
.SearchIcon:hover {
  cursor: default;
  color: #fadd36;
}
