.App {
    font-family: "Gabriela";
    background: linear-gradient(0deg, #074115 3%, #e1eb5b 49%, #ffffff 84%);
    min-height: 100vh;
}

* {
    box-sizing: border-box;
  }


a {
    color: #686867;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
}
a:hover i {
    color: #155c07;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #585858;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #155c07;
}